.wrap {
    width: 400px;
    padding: 20px;
    background-color: lightgrey;
    position: fixed;
    top: 10%;
    left: 15%;
    box-shadow: 0 0 5px grey;
}

.hidden {
    display: none;
}

span {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    background-color: yellow;
    font-size: 60px;
    cursor: pointer;
    border-radius: 50%;
    border-color: black
    
}

span:hover {
    background-color: darkgray;
    color: whitesmoke;
}
